/* Body */
@font-face {
    font-family: 'FiraCode';
    src: url('../../../public/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #27272f;
    color: #929295;
    font-family: 'FiraCode', monospace !important;
    font-size: 13px !important;
    word-spacing: 0px !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Body */

/* Header */
#header-container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ec7519;
}
#header-container ul {
    display: flex; 
    list-style: none; 
    padding: 0px;
}
#header-container li {
    margin: 15px;
}
#logo h1 a {
    color: #ec7519;
    text-decoration: none;
}
nav a {
    color: #929295;
    text-decoration: none;
}
nav a:hover {
    color: #ec7519;
    text-decoration: underline;
}
/* Header */

main {
    flex: 1;
}

footer {
    border-top: 1px solid #ec7519;
    text-align: center;
    height: 50px;
}

footer a { color: #ec7519; }

#convert div {
    padding: 10px;
    background-color: #32333d;
    margin: 50px auto;
    width: 80%;
    height: 200px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
#convert div p:nth-of-type(1) {
    color: #ec7519;
    font-weight: bold;
}
#convert input {
    background-color: #32333d !important;
    color: #929295 !important;
    width: 15%; 
    padding: 10px;
    border: 1px solid #929295; 
    border-radius: 5px;
}
#convert input:focus, #convert input:focus-visible, #convert input:hover {
    border: 1px solid #ec7519 !important; 
}
#convert button {
    margin: 0;
    background-color: #32333d;
    color: #929295;
    border: 1px solid #929295;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}
#convert button:hover {
    color: #ec7519;
    border: 1px solid #ec7519;
    cursor: pointer;
}